<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Rubygems Mirror</title>
  </head>
  <body>
    <h1>RubyGems Mirror</h1>
    <h2>List of Available Gems:</h2>
    <ul>
      <% @gem_list.each do |file| %>
        <li><%= file[:name] %> (<%= file[:versions].join(", ") %>)</li>
      <% end %>
    </ul>
    <p>Total: <strong><%= @gem_list.size %> gems.</strong></p>
  </body>
</html>

